.password-toggle {
  position: relative;
}

.eye-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--eye);
  font-size: 16px;
}

.eye-icon:hover {
  color: #000;
}