:root{
    --error: red;
    --info: blue;
    --success: #00bf10;
    --textcolor: black;
    --font: Arial, sans-serif;
    --fontsize: 13px;
    --titlefontsize: 32px;
    --modalfontsize: 17px;
    --background: white;
    --button: blue;
    --buttonhover: rgb(0, 0, 185);
    --buttonfont: white;
    --buttonfontsize: 15px;
    --inputbg: rgba(255, 255, 255, 0.502);
    --dropdownbg: rgb(185, 221, 252);
    --dropdownbgh: rgb(166, 212, 253);
    --modalbackground: aliceblue;
    --shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    --boxshadow: 1px 3px 1px rgba(0, 0, 0, 0.25);
}

[data-theme="dark"] {
    --error: #ff6b6b;
    --info: #4dabf7;
    --success: #51cf66;
    --textcolor: #ffffff;
    --background: #252525;

    --button: #4dabf7;
    --buttonhover: #339af0;
    --buttonfont: #000000;

    --inputbg: rgba(255, 255, 255, 0.1);

    --dropdownbg: #1e1e1e;
    --dropdownbgh: #2c2c2c;

    --modalbackground: #1a1a1a;
    --shadow: 0 8px 32px rgba(255, 255, 255, 0.1);
    --boxshadow: 1px 3px 1px rgba(255, 255, 255, 0.25);
}