:root{
    --info-color: #00ddff;
    --title-fontsize: 32px;
    --font: Arial, sans-serif;
}

.container{
  display:flex;
  margin:0;
  padding:0;
  width: 100%;
}

.imgleft{
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.imgleft img{
  height:100%;
  object-fit: cover;
  object-position: left;
}

.data{
  flex: 2;
  display: flex;
  flex-direction: column;
  background: white;
  backdrop-filter: blur(12px);
  align-items: center;
  justify-content: center;
}

.form{
  width: 350px;
  min-height: 220px;
  background: white;
  text-align:center;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 30px;

}

.title{
  font-size: var(--title-fontsize);
  font-family: var(--font);
  margin-bottom: 30px;
  color: var(--info-color);
}
