:root{
    --info-color: #00ddff;
    --bg-color: linear-gradient(
      135deg,
      rgba(104, 104, 104, 0.073),
      rgba(180, 180, 180, 0.148));
    --title-fontsize: 32px;
    --font: Arial, sans-serif;
}

.data{
  width:320px;
  min-height: 220px;
  background: var(--bg-color);
  backdrop-filter: blur(12px);
  padding: 30px;
  box-shadow: 0 8px 32px rgba(0,0,0,0.3);
  border-radius:6px;
  text-align:center;
}

.title{
  font-size: var(--title-fontsize);
  font-family: var(--font);
  margin-bottom: 30px;
  color: var(--info-color);
}
