.root{
    --info-color: #00ddff;
    --bh-color: #00bdda;
    --fontsize: 13px;
    --font: arial, sans-serif;
}

.back{
    display: block;
    font-size: var(--fontsize);
    color: var(--info-color);
    font-family: var(--font);
    cursor: pointer;
    margin-top: 15px;
    padding-left: 10px;
    text-align: left;
}

.buttons{
    display: flex;
    justify-content: right;
    margin-top: 20px;
}
.buttons button:hover{
    background-color: var(--bh-color);
}
