:root{
    --info-color: #00ddff;
    --bh-color: #00bdda;
    --text-color: #000000;
    --font: Arial, sans-serif;
    --fontsize: 13px;
}

.buttons button:hover{
    background-color: var(--bh-color);
}

.login {
    display: block;
    font-size: var(--fontsize);
    font-family: var(--font);
    color: var(--info-color);
    cursor: pointer;
    padding-left: 10px;
    text-align: left;
}
