.back{
    display: block;
    font-size: var(--fontsize);
    color: var(--info);
    font-family: var(--font);
    cursor: pointer;
    margin-top: 15px;
    padding-left: 10px;
    text-align: left;
}

.buttons{
    display: flex;
    justify-content: right;
    margin-top: 20px;
}

