.forgot{
    display: block;
    font-size: var(--fontsize);
    font-family: var(--font);
    color: var(--info);
    cursor: pointer;
    margin-top: 15px;
    padding-left: 10px;
    text-align: left;
}

.signup{
    display: block;
    font-size: var(--fontsize);
    font-family: var(--font);
    color: var(--info);
    cursor: pointer;
    padding-left: 10px;
    text-align: left;
}