.btn{
    padding: 10px 25px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-size: var(--buttonfontsize);
}

.btn:hover{
    background-color: var(--buttonhover);
}

.primary{
    background-color: var(--button);
    color: var(--buttonfont);
}
