
:root {
  --primary-color: #00ddff;
  --text-color: #000000;
}


.btn{
    padding: 10px 25px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.primary{
    background-color: var(--primary-color);
    color: var(--text-color);
}
