.inputBox{
  background: var(--inputbg);
  padding:12px;
  border-radius:6px;
  margin-bottom:10px;
  display:flex;
  align-items:center; 
  justify-content:flex-start;
  width:100%;
  box-sizing:border-box;
  box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.25);
}

.inputBox input{
  border:none;
  outline:none;
  width:100%;
  background:transparent;
}

.inputBox input::placeholder{
  font-size:var(--fontsize);
  font-family: var(--font);
  color:var(--textcolor);
}

.errorBox {
  border: 2px solid var(--error);
}

.input.errorPlaceholder::placeholder {
  color: var(--error) !important;
  opacity: 1;
}




